services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:8.2.3-alpine
    restart: always
    ports:
      - "6379:6379"
volumes:
  postgres-data: